{{#section 'head'}}
    <script src="/js/main.js"></script>
{{/section}}

<div class="mui-col-md-12 mui-col-xs-12">

<input type="hidden" name="pageId" id="page-id" value="{{pageid}}" />

    {{#if groupcolumns}}
<!--Email Collection, appears when page id is present-->
        <div class="mui-col-md-offset-3 mui-col-md-6 mui-panel">
            <div class="mui--text-headline mui--text-center">Your collection link is:</div>
            <div class="mui--text-center"><a href={{collectionurl}} class="nodec-link mui--text-subhead" id="your-link">{{collectionurl}}</a></div>
            <form action="/{{pageid}}/sendlink" method="POST" class="mui-form--inline">
                <div class="mui-textfield" id="email-field">
                    <label id="email_label">Email your collection</label>
                    <input type="text" name="emails" aria-labelledby="email_label" placeholder="Separate multiple emails with a ','" />
                </div>
                <button type="submit" class="mui-btn mui-btn--small" id="email-link">Send</button>
            </form>
        {{#if emailerror}}
            <div class="error-text temp-element">Error sending- verify email(s)</div>
        {{/if}}
        </div>

    {{/if}}

<!--Create New Group section-->
    <div class="mui-col-md-offset-3 mui-col-md-6 mui-panel">
        <form action="/{{pageid}}/newsession" method="POST" class="mui-form--inline" id="new-group-form">
            <legend>Create New Group</legend>
            <div class="mui-textfield newGrpInput">
                <label id="group_title_label">Group Title</label>
                <input type="text" name="grouptitle" aria-labelledby="group_title_label"/>
            </div>
            <div class="mui-textfield newGrpInput">
                <label id="group_desc_label">Group Description</label>
                <input type="text" name="groupdesc" aria-labelledby="group_desc_label"/>
            </div>
            <button type="submit" class="mui-btn" id="add-group">Add Group</button>
        </form>
        {{#if newsite}}
            <div class="delete-link mui--text-center temp-element">Heads up, anyone with the link to your collection
                can view and edit your links! Don't enter any personal links or info!
            </div>
        {{/if}}
        {{#if newgrouperror}}
            <div class="error-text mui--text-subhead temp-element">Title required for new group</div>
        {{/if}}
    </div>

</div>

<div class="mui-divider mui-col-md-12 mui-col-xs-12" id="group-divider"></div>

<!--Edit Collection button-->
{{#if groupcolumns}}
    <div class="mui--text-center" id="edit-form">
        <form action="/{{pageid}}/editcollection" method="POST">
            {{#if editcollection}}
                <input type="hidden" name="editsdone" value="true">
                <button type="submit" class="mui-btn mui-btn--danger mui-btn--small">{{editcollectiontext}}</button>
            {{else}}
                <input type="hidden" name="editsdone" value="false">
                <button type="submit" class="mui-btn mui-btn--primary mui-btn--small">{{editcollectiontext}}</button>
            {{/if}}
        </form>
    </div>
{{/if}}

<!--Error message for non-ajax transactions-->
{{#if newlinkerror}}
    <div class="error-text mui--text-headline mui-panel mui-col-md-offset-1 mui-col-xs-offset-1 mui-col-md-10 mui-col-xs-10 mui--text-center temp-element">URL required</div>
{{/if}}

{{#each groupcolumns}}

<!--Group Column container-->
    <div class="mui-col-md-4 group-column" id="column-num-{{@index}}">

        {{#each this}}
        <!--Link Group container-->
            <div class="mui-panel link-panel" id="{{id}}">

                <input type="hidden" name="groupId" value="{{id}}" id="group-id" />

                {{#if ../../editcollection}}
                <!--Delete Group button-->
                    <form action="/{{../../pageid}}/{{id}}/deletegroup" method="POST" class="mui-form--inline">
                        <input type="hidden" name="linkgroupid" value="{{id}}" />
                        <button type="submit" class="mui-btn mui-btn--danger mui-btn--small">Delete Group</button>
                    </form>
                {{/if}}

                <div class="mui--text-title wrap group-title">{{title}}</div>
                <div class="mui--text-caption wrap group-desc">{{description}}</div>

                <!--Add Link form-->
                <div class="createLinkForm">
                    <form action="/{{../../pageid}}/{{id}}/addlink" method="POST">
                        <input type="hidden" name="pageid" value={{../../pageid}}/>
                        <input type="hidden" name="groupid" value={{id}}/>
                        <div class="mui-textfield">
                            <input type="text" name="newlinktitle" placeholder="Title" aria-label="New Link Title"/>
                        </div>
                        <div class="mui-textfield">
                            <input type="text" name="newlinkurl" placeholder="URL" aria-label="New Link URL"/>
                        </div>
                        <button type="submit" class="mui-btn mui-btn--small">Add Link</button>
                    </form>
                </div>

                {{#if links}}
                    <div class="mui-divider link-divider"></div>
                {{/if}}

                {{#each links}}
                    {{#if ../../../editcollection}}
                    <!--Delete link logic-->
                        <div>
                            <form action="/{{../../../pageid}}/{{../id}}/deletelink" method="POST" class="mui-form--inline">
                                <input type="hidden" name="linkdelid" value={{linkid}} />
                                <div class="truncate delete-link">
                                    <button type="submit" class="mui-btn mui-btn--small mui-btn--danger mui--text-center mui--text-subhead" aria-label="Delete Link">X</button>
                                    {{#if title}}
                                        <a href={{url}} class="group-link mui--align-middle">{{title}}</a>
                                    {{else}}
                                        <a href={{url}} class="group-link mui--align-middle">{{url}}</a>
                                    {{/if}}
                                </div>
                            </form>
                        </div>
                    {{else}}
                    <!--URL and Title when not editing collection-->
                        <div>
                            <input type="hidden" name="link-del-id" value="{{linkid}}" id="link-id" />
                            {{#if title}}
                                <a href={{url}} class="group-link truncate">{{title}}</a>
                            {{else}}
                                <a href={{url}} class="group-link truncate">{{url}}</a>
                            {{/if}}
                        </div>
                    {{/if}}
                {{/each}}

            </div>
        {{/each}}

    </div>

{{/each}}
